@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply text-foreground ;
}

::selection{
    background-color: hsl(234, 32%, 35%);
}

.screen-fit{
    height: calc(100vh - 4rem);
}

.full-shadow{
    box-shadow:0 0 0 100vw #000000aa;
}